<div class="navbar-wagon navbar-fixed-top <%= 'navbar-wagon-transparent navbar-home' if params[:controller] =~ /pages/ && params[:action] =~ /home/ %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

<%= link_to 'sign in', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/RoniSharabi" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to 'My deals', alibis_path %></li>
          <li><%= link_to "Create an alibi offer", new_alibi_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
