<div class="container">
  <div class="row">
  <% @alibis.each do |alibi| %>
    <div class="col-xs-12 col-sm-4">
      <div class=card-bordus>
        <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path alibi.photo, height: 300, width: 500, crop: :thumb, gravity: :north %>')">
<!--         <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#= cl_image_path alibi.photo.url(:card_picture) %>')"> -->
          <div class="card-category"> <%= alibi.category %></div>
          <div class="card-description"></div>
        </div>
        <div class="card-des">
          <h4><%= alibi.title %></h4>
          <p> <%= alibi.location %></p>
        </div>
        <%= link_to "", alibi_path(alibi, :category => @category, :location => @location), :class => "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
