<div class="container">
  <h1>Create Your Alibi Offer</h1>

  <div class="grid">
    <div class="f-new">
      <ul class="new-form">
        <%= simple_form_for(@alibi) do |f| %>
          <!-- [...] -->
          <%= f.input :title%>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :location %>
          <%= f.label :category  %>
          <%= select_tag 'category', options_for_select(@alibis.collect{|alibi| alibi.category}.uniq), class: "select_category"%>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit class: "btn-photo" %>
          <!-- [...] -->
        <% end %>
      </ul>
    </div>
    <div class="simpson text-center">
      <%= image_tag "create.jpg", height: 400, width: 350, :crop=>"fit", class:'brice' %>
    </div>
  </div>
</div>

