<p id="notice"></p>
  <div class="container">


    <h2><%= @alibi.title %></h2>
    <p><%= @alibi.description %></p>
    <p><%= @alibi.location %></p>

    <%= cl_image_tag @alibi.photo, height: 300, width: 400, crop: :fill %>

    <p><strong>Category: </strong><%= @alibi.category %></p>
    <p><strong>Price: </strong><%= @alibi.price %>€</p>
    <div class="alibis">
      <%= link_to 'Alibis list', alibis_path %>
    </div>
  </div>





<%= simple_form_for [@alibi, @deal] do |d| %>

  <%= d.input :start_date %>
  <%= d.input :end_date %>
  <%= d.submit "Submit" %>
<% end %>
