 <p id="notice"></p>

  <div class="container grid">
    <div class="description">
      <h2><%= @alibi.title %></h2>
      <p><%= @alibi.description %></p>
      <%= link_to 'Go Back to the list', alibis_path(:category => @category, :location => @location), class: 'btn btn-show' %>
    </div>
    <div class="photo text-center">
        <%= cl_image_tag @alibi.photo, height: 300, width: 500, :crop=>"fit", class:'brice'%>
    </div>
    <div class="details">
      <p><strong>City: </strong><%= @alibi.location %></p>
      <p><strong>Category: </strong><%= @alibi.category %></p>
      <p><strong>Price: </strong><span id="price-per-hour"> <%= @alibi.price %></span> €</p>
    </div>
    <div class="price-calculation">
      <p><strong>BOOK ME TODAY</strong></p>
      <%= simple_form_for [@alibi, @deal] do |d| %>
        <div class="row">
          <div class="col-xs-6">
            <%= d.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          </div>
          <div class="col-xs-3">
            <%= d.input :duration , input_html: {min: 1} %>
          </div>
        </div>
        <%= d.input :discussion %>
        <div class="row">
          <div class="col-xs-2">
            <p>Price</p>
          </div>
          <div class="col-xs-3">
            <p id="total-price"></p>
          </div>
        </div>
        <%= d.submit "Booking Request", class: "btn btn-show" %>
      <% end %>
    </div>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%=@markers.to_json%>">
  </div>

<% content_for :after_js do %>
  <script>
    const duration = document.getElementById('deal_duration');
    const startDate = document.getElementById('deal_start_date');

    const updatePrice = ((event) => {
      const durationValue = parseInt(event.currentTarget.value);
      const pricePerHour = parseInt(document.getElementById('price-per-hour').innerHTML);
      document.getElementById('total-price').innerHTML = `${durationValue * pricePerHour} €`;
    });

    const fillDuration= ((event) => {
      if (duration.value === "") {
        duration.value = 1;
      }
    });
    duration.addEventListener('click', updatePrice);
    duration.addEventListener('DOMContentLoaded', updatePrice);
    startDate.addEventListener('click', fillDuration);
  </script>
<% end %>
