<div class="banner" style="background-image: url( <%= image_path 'easy_way.jpg' %>);">
  <div class="form search-bar">
    <h1>Alibi</h1>
    <p>Your easy way out</p>
    <%= simple_form_for @alibi, method: :get do |f| %>
      <div class="form-group">
      <%= f.label :category %>
      <%= select_tag 'category', options_for_select(@alibis.collect{|alibi| alibi.category}.uniq), :include_blank => 'All' %>
      </div>
      <div class="form-group">
      <%= f.label :location%>
      <%= select_tag 'location', options_for_select(@alibis.collect{|alibi| alibi.location}.uniq), :include_blank => 'All'  %>
      </div>
      <%= submit_tag 'Search', class:'btn btn-dark'%>
    <% end %>
  </div>
