<div class="container">
  <ul id="dashboard-tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#my_deals" aria-controls="my_deals" role="tab" data-toggle="tab" class="jenaimarre">My deals</a>
    </li>
    <li role="presentation">
      <a href="#my_offers" aria-controls="my_offers" role="tab" data-toggle="tab" class="jenaimarre">My Offers</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="my_deals">
      <div class="container-fluid">
        <div class="row">
          <% @deals.each do | deal | %>
            <div class="col-xs-12 col-sm-12 dealcard">
              <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path deal.alibi.photo, height: 300, width: 500, crop: :thumb, gravity: :north %>')">
                <div class="card-category dealcategory">
                  <%= deal.alibi.category %>
                </div>
                <div class="card-description">
                  <h2> <%= deal.alibi.title %>
                  <% if deal.pending? %>
                    <i class="fa fa-clock-o"></i>
                  <% elsif deal.accepted? %>
                    <i class="fa fa-check-circle"></i>
                  <% elsif deal.refused? %>
                    <i class="fa fa-times"></i>
                  <% end %>
                  </h2>
                  <p> <%= deal.alibi.location %></p>
                  <p class="deallocation" > <%= deal.start_date.strftime('%b %d, %Y %H:%M') %> - <%= deal.end_date.strftime('%b %d, %Y %H:%M') %></p>
                  <p class="dealprice" ><%= deal.alibi.price %>€</p>
                </div>
                <!-- <img class="card-user" src="<%#= cl_image_path deal.alibi.user.photo %>"> -->
                  <!-- <a class="card-link" href="#" ></a> -->
                <div class="card-action">
                  <% if deal.pending? %>
                    <%= link_to edit_alibi_deal_path(deal.alibi, deal) do  %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                    <%= link_to deal_path(deal), method: :delete,
                              data: { confirm: "Are you sure?" } do  %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="my_offers">
      <div class="container-fluid">
        <div class="row">
          <% @offers.each do | deal | %>
            <div class="col-xs-12 col-sm-12">
              <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path deal.alibi.photo, height: 300, width: 500, crop: :thumb, gravity: :north %>')">
                <div class="card-category">
                  <%= deal.alibi.category %>
                </div>
                <div class="card-description">
                  <h2> <%= deal.alibi.title %>
                  <% if deal.pending? %>
                    <i class="fa fa-clock-o"></i>
                  <% elsif deal.accepted? %>
                    <i class="fa fa-check-circle"></i>
                  <% elsif deal.refused? %>
                    <i class="fa fa-times"></i>
                  <% end %>
                  </h2>
                  <p> <%= deal.alibi.location %></p>
                  <p class="deallocation" > <%= deal.start_date.strftime('%b %d, %Y %H:%M') %> - <%= deal.end_date.strftime('%b %d, %Y %H:%M') %></p>
                </div>
                <!-- <img class="card-user" src="<%#= cl_image_path deal.alibi.user.photo %>"> -->
                <!-- <a class="card-link" href="#" ></a> -->
                <div class="card-action">
                  <% if deal.pending? %>
                    <%= link_to alibi_deal_path(deal.alibi, deal, :deal => {:status => '1', :id => deal.id}), method: :patch do  %>
                      <i class="fa fa-check"></i>
                    <% end %>
                    <%= link_to alibi_deal_path(deal.alibi, deal, :deal => {:status => '2', :id => deal.id}), method: :patch do  %>
                      <i class="fa fa-times"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
